html{
  background-color: rgb(213, 213, 213);
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.App-container{
  width: 1500px;
  display: flex;
  justify-content: space-between;
  
}